- name: creating system user
  ansible.builtin.user:
     name: roboshop
     system: true
     home: /app
     shell: /sbin/nologin
     comment: "roboshop system user"


- name: deleting default app directory
  ansible.builtin.file:
     path: /app
     state: absent

- name: creating app directory
  ansible.builtin.file:
     path: /app
     state: directory

- name: deleting default downloaded code
  ansible.builtin.file:
    path: /tmp/{{ component }}.zip
    state: absent

- name: downloading {{ component }} code
  ansible.builtin.get_url:
     url: https://roboshop-artifacts.s3.amazonaws.com/{{ component }}-v3.zip
     dest: /tmp/{{ component }}.zip

- name: unzipping code
  ansible.builtin.unarchive:
     src: /tmp/{{ component }}.zip
     dest: /app
     remote_src: yes

