- name: enable nodejs:20 version
  ansible.builtin.command: dnf module enable nodejs:20 -y

- name: install nodejs
  ansible.builtin.package:
    name: nodejs
    state: present

- name: install dependencies
  community.general.npm:
    path: /app